.Box {
  margin-top: $spaceLarge;

  @include breakpoint(lg) {
    margin-top: $spaceUltraLarge;
  }

  &-TitleBackground-Gothic {
    background: $gothic;

    .Title {
      padding: $spaceRegular;
    }
  }
}
