.Box {
  margin-top: $spaceLarge;

  @include breakpoint(lg) {
    margin-top: $spaceUltraLarge;
  }

  &-TitleBackground-Gothic {
    background: $east_bay;

    .Title {
      padding: $spaceRegular 0;
    }
  }

  &-Split {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: $white;
    opacity: 0.8;

    @include breakpoint(md) {
      width: 50%;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &--brown {
      background: #e6ce7d;
    }

    &--lightGray {
      background: $iron;
    }

    &--blue {
      background: $east_bay;
    }
  }

  &--littleMargin {
    margin-top: $spaceBig;
  }

  &--mediumMargin {
    margin-top: $spaceLarge;
  }

  &--noMargin {
    margin-top: 0;
  }
}
