.Button {
  display: inline-block;
  line-height: 35px;
  padding: 0 $spaceLarge;
  transition: 0.25s;
  text-align: center;
  background: none;
  border: 0;

  &:focus,
  &:hover {
    outline: none;
  }

  &-Rounded {
    border: 5px solid;
    border-radius: 50px;
    width: 235px;
  }

  &-White {
    border-color: $white;
    color: $white;

    // Stack multiple shadows, one from the left, the other from the right
    &:hover,
    &:focus {
      color: $pale_sky;
      @extend .Font-Bold;
      text-decoration: none;
      box-shadow:
        inset -50px 0 0 20px $white,
        inset 50px 0 0 20px adjust-hue($white, 45deg);
    }
  }

  &-Red {
    border-color: $crimson;

    // Stack multiple shadows, one from the left, the other from the right
    &:hover,
    &:focus {
      color: $white;
      @extend .Font-Bold;
      text-decoration: none;
      box-shadow:
        inset -50px 0 0 20px $crimson,
        inset 50px 0 0 20px adjust-hue($crimson, 45deg);
    }

    &.active {
      background-color: $crimson;
      color: $white;
    }
  }

  &-BlueLight {
    border-color: $gothic;
    background: $white;

    // Stack multiple shadows, one from the left, the other from the right
    &:hover {
      color: $white;
      @extend .Font-Bold;
      text-decoration: none;
      box-shadow:
        inset -50px 0 0 20px $gothic,
        inset 50px 0 0 20px adjust-hue($gothic, 45deg);
    }
  }
}
