/* Slider */
.slick-slide {
  margin: 0px 20px;
  height: 98px;
  position: relative;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  @include breakpoint(xs) {
    height: auto;
  }

  .customer-logosCaption {
    background-color: $iron;
    position: absolute;
    top: 0;
    left: 0;
    color: $white;
    z-index: 100;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 162px;
    height: 98px;
    padding: $spaceMedium $spaceBig $spaceBig;

    @include breakpoint(xs) {
      display: none;
      position: relative;
      width: auto;
      height: auto;
    }

    &Text {
      transition: all 600ms ease-out;
      transform: translateY(40px);
      color: $black;
      text-align: center;
      font-size: 14px;
      margin-top: $spaceMedium;

      &.Title {
        font-size: 14px;
        opacity: 0;
        transition-delay: 0.1s;
        transition-duration: 0.2s;
      }
    }
  }

  p.customer-logosCaptionText {
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
    color: $pale_sky;
  }

  &:hover .customer-logosCaption {
    opacity: 1;
  }

  &:hover .customer-logosCaptionText.Title,
  &:focus .customer-logosCaptionText.Title {
    opacity: 1;
    transform: translateY(0px);
  }

  &:hover p.customer-logosCaptionText,
  &:focus p.customer-logosCaptionText {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slick-slide img {
    max-width: 100%;
    margin: 0 auto;
}

.slick-slider
{
    position: relative;
    display: block;
    margin-top: $spaceBig;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;

    margin-bottom: $spaceBig;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin: 0 auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
    position: absolute;
    left: 0;
    transition: all 300ms ease-out;

    @include breakpoint(xs) {
      position: relative;
    }
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
