.Footer {
  background: $shark;
  color: $white;

  @include breakpoint($min:320px, $max: 1250px) {
    margin-bottom: 39px;
  }

  &-Inner {
    padding: $spaceLarge 0 $spaceMedium;
    overflow: hidden;
  }

  &-Box {
    text-align: center;
    margin-top: $spaceBig;
    border-top: 1px solid lighten($shark, 10%);
    padding-top: $spaceBig;

    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-left: 0;
      border-top: 0;
    }

    @include breakpoint(xs) {
      &:first-child {
        margin-top: 0;
      }
    }

    @include breakpoint(md) {
      border-top: 0;
      margin-top: 0;
      padding-top: 0;
      border-left: 1px solid $gothic;
      height: 149px;
    }
  }

  .Address {
    display: inline-block;
    margin: 0 auto;
    text-align: left;

    &-Adr,
    .tel,
    .email {
      margin-top: $spaceMedium;
      font-size: 16px;
      @extend .Font-Light;
    }

    &-Adr {
      display: inline-block;
      margin-top: 0;
    }
  }

  .material-icons {
    width: 30px;
    vertical-align: top;
    font-size: 18px;
    color: $gothic;
  }

  &-Menu {
    > div {
      display: inline-block;

      @include breakpoint(md) {
        display: block;
      }

      &:after {
        display: table;
        content: '';
        clear: both;
      }

      ul {
        display: inline-block;
        text-align: left;
        margin-left: $spaceExtraLarge;
        margin-bottom: 0;

        @include breakpoint(xs) {
          padding-left: 0;
        }

        &:after {
          display: table;
          content: "";
          clear: both;
        }

        &:first-child {
          margin-left: 0;
          padding: 0;

          &:after {
            display: none;
          }
        }

        li {
          list-style: none;
          padding: $spaceSmall;

          a {
            color: $white;
            @extend .Font-Light;
            transition: 0.25s;

            &:hover {
              color: $gothic;
            }
          }
        }
      }
    }
  }

  &-Copyright {
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: $spaceBig;

    a {
      color: $gothic;
      transition: 0.25s;

      &:hover {
        color: $white;
      }
    }

    @include breakpoint(md) {
      margin-top: $spaceMedium;
    }
  }

  &-Social {
    .Title {
      font-size: 16px;
    }

    &Icons {
      margin-top: $spaceMedium;
    }
  }

  &Social-Icon {
    display: inline-block;
    border: 2px solid $gothic;
    border-radius: 50%;
    line-height: 41px;
    width: 44px;
    margin-left: $spaceMedium;
    transition: 0.25s;

    img {
      transition: 0.25s;
      filter: grayscale(1);
    }

    &:hover,
    &:focus {
      img {
        filter: grayscale(0);
      }
    }

    &--fb {
      &:hover,
      &:focus {
        border-color: #3c5a9a;
      }
    }

    &--in {
      line-height: 38px;
      padding-bottom: 3px;

      &:hover,
      &:focus {
        border-color: #007fb2;
      }
    }
  }
}
