.Jobs,
.JobsForm {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-right: 0;
  margin-left: 0;

  .Box-TitleBackground-Gothic .Title {
    font-size: 20px;
  }

  &-Content {
    margin-top: $spaceExtraLarge;
  }
}

.Jobs {
  &-Title {
    font-size: 20px;
  }

  &-NoOffer {
    font-size: 20px;
    margin-top: $spaceLarge;
  }

  .panel-group {
    margin-top: $spaceMedium;
    margin-bottom: 0;

    .panel {
      border-radius: 0;
    }

    .panel-title .material-icons {
      float: right;
    }

    .panel-heading {
      padding: 0;
      color: $pale_sky;
      background-color: transparent;
      border: 0;
    }

    .panel-body {
      background: $iron;
      text-align: center;

      p,
      ul li,
      h4, h2, h3, h1 {
        text-align: left;
      }

      p,
      ul li {
        font-size: 16px;
        @extend .Font-PaleSky;
      }

      h4 {
        @extend .Font-LightBlue;
        @extend .Font-Black;
      }

      ul li {
        @extend .Font-Light;
      }

      .Button {
        margin-top: $spaceMedium;
      }
    }

    .panel-collapseBar {
      display: block;
      padding: $spaceMedium $spaceLarge;
      background: $iron;
      font-size: 20px;
      transition: 0.25s;
      font-weight: 300;

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: darken($iron, 10%);
      }
    }

    .panel-collapse {
      border-top: 1px solid $white;
    }
  }
}

.JobsForm {
  margin-top: $spaceExtraLarge;

  &-Content {
    .form-group br {
      display: none;
    }

    @include breakpoint(sm) {
      .form-group .SpanCV {
        padding: 0 $spaceBig;
      }

      input[type=file] {
        display: inline-block;
      }
    }
  }
}
