.LoaderTransition {
  display         : none;
  position        : fixed;
  width           : 100%;
  height          : 100%;
  top: 0;
  left: 0;

  background-color: $white;
  color           : $gothic;
  z-index         : 9;

  &-Inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    //background:url("assets/img/giphy.gif") no-repeat center center;
  }

  .spinner {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }

  .dot1, .dot2 {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: $east_bay;
    border-radius: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
}
